<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.levelup.http.gson"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.levelup.http.gson" />

    <application android:label="HttpClient Gson test" >
        <uses-library android:name="android.test.runner" />
    </application>

</manifest>