<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.tophe"
    android:versionCode="2"
    android:versionName="0.2" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <application />

</manifest>